/* colors:
 * #1A212C
 * #1D7872
 * #71B095
 * #DEDBA7
 * #D13F32
 */

body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("/static/img/footer_lodyas.png");
    background-repeat: repeat;
}

.container {
}

#content {
    background-color:#fff;
    border-radius:3px;
    padding:10px;
}

#footer {
    padding-left: 0px;
    padding-right: 0px;
    color:#fff
}

#footer a {
    color:#DEDBA7;
}

.jumbotron {
    background-color:#1A212C;
    color: #fff;
}

.jumbotron a {
    color:#DEDBA7;
}

.alert-inf {
    background-color:#DEDBA7;
    color:#002F2F;
}

.teacher-cloud {
    width: 100%;
}
