{% extends "base.html" %}
{% block content %}
<h2><strong>{{ college_name }}</strong> courses for <strong>{{ term_key_to_name[term_key] }}</strong></h2>
{% for ckey, course in courses|dictsort %}
<div class="well">
    <h4>
        {{ course['title'] }}
        ({{ college_name }}{{ ckey }})
        <small><a href="{{ url_for('classes.course_history') }}?college={{ college_name }}&course={{ ckey }}">history</a></small>
    </h4>
    <p>{{ course['desc'] }}</p>
    <p>{{ course['prereq'] }}</p>
    {% for section, info in course['sections']|dictsort %}
    <h4>{{ section }} - {{ info['Instructor'] }} - {{ info['Enrolled'] }}/{{ info['Class Max'] }}</h4>
    <table class="table table-bordered table-condensed table-striped">
        <tr><td>Date</td><td>{{ info['Date'] }}</td></tr>
        <tr><td>Time</td><td>{{ info['Time'] }}</td></tr>
        <tr><td>Days</td><td>{{ info['Days'] }}</td></tr>
        <tr><td>Location</td><td>{{ info['Location'] }}</td></tr>
        {% if 'Note' in info %}
            <tr><td>Note</td><td>{{ info['Note'] }}</td></tr>
        {% endif %}
    </table>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
