{% extends "base.html" %}
{% block content %}
<div class="alert alert-inf">Search for the schedule for a specific room this term</div>
<form action="/rooms/view" method="GET">
    <div class="form-group">
        <label for="term">Term</label>
        <select id="term" name="term" class="form-control">
            {% for term_key, term_name in  term_key_to_name|dictsort|reverse %}
            <option value="{{ term_key }}">{{ term_name }}</option>
            {% endfor %}
        </select>

        <label for="building">Buildin</label>
        <select id="building" name="building" class="form-control">
            {% for building in buildings %}
            <option value="{{ building }}">{{ building }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="room_number">Room Number</label>
        <input type="text" name="room_number" id="room_number" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
